* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: bisque;
  background-repeat: no-repeat;
  background-size: cover
height: 100vh
}
.h1 {
  display: flex;
  justify-content: center;
  font-weight: 200;
  margin-bottom: 20px;
  padding: auto;
}
.first {
  display: flex;
  background-color: blue;
  font-weight: 200;
  font: italic;
  text-align: center;
  margin: 20px;
  padding: 20px;
  justify-items: center;
  justify-content: space-between;
}
.second {
  display: flex;
  background-color: blueviolet;
  font-weight: 300;
  font: bold;
  text-align: center;
  margin: 20px;
  padding: 20px;
  justify-items: center;
  justify-content: space-between;
}
.third {
  display: flex;
  background-color: brown;
  font-weight: 400;
  font: large;
  text-align: center;
  margin: 20px;
  padding: 20px;
  justify-items: center;
  justify-content: space-between;
}
